@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

body {
    background-color: #E7E1D3;
    color: #5b5b5b;
    font-family: "Raleway", sans-serif;
    padding-top: 4rem;
    line-height: 2.5rem;
}

/* Padding/margin/text */

.text-bottom {
    letter-spacing: 3px;
    margin-top: 5rem;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.text-property {
    width: 100%;
    text-align: left;
    font-size: 20px;
}

.text {
    font-weight: 700;
    letter-spacing: 1px;
}

.heading {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    letter-spacing: 3px;
}

.about-heading {
    font-weight: 700;
    font-size: 54px;
    margin-top: 7rem;
    letter-spacing: 3px;
}

.first-paragraph {
    margin-bottom: -6rem;
}

p {
    font-size: 18px;
    margin-top: 36px;
}

.sub-heading {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    margin: 1.5rem 0;
}

/* Header */

/* Fix: Had an issue with the nav bar not being responsive or appearing on the wrong side. This tutorial helped me solved it: https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp */

.navbar {
    background-color: #f2f2f2;
    text-align: left;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1030;
    padding: 0;
    margin: 0;
}

.navbar-dark .navbar-brand {
    color: #5b5b5b;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    line-height: 4rem;
    float: left;
    margin-left: 0;
    padding-left: 2rem;
    text-decoration: none;
    padding-top: 0.5rem;
}

#navigation li a {
    margin: 3px;
    font-family: "Montserrat", sans-serif;
    padding: 8px;
    line-height: 30px;
    font-size: 1rem;
    color: #5b5b5b;
}

.navbar-dark .navbar-toggler {
    color: #5b5b5b;
    padding: 1rem;
    float: right;
    margin: 0.5rem;
}

.navbar-nav {
    list-style: none;
    align-items: center;
}

/* Carousel */

/* Credit: this tutorial helped me fix the carousel: https://www.youtube.com/watch?v=N0LZdyKupx8&t=351s Before it was too big for the page and made my images distorted. */

.carousel {
    width: 80%;
    margin: auto;
}

/* Icons */

.icon-section {
    margin: 1rem;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

/* Credit: learnt how to add a circle and styling to icons from this post: https://markheath.net/post/font-awesome-circle-background */

.icon {
    background: #fdeadd;
    border: 4px solid #f2f2f2;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 25px;
    width: 120px;
    height: 120px;
    line-height: 65px;
}

/* Portfolio section */

.projects {
    text-align: -webkit-center;
    margin-bottom: -0.5rem;
    top: -2rem;
    padding: 8px 8px 20px;
}

.card {
    width: 360px;
}

.card-title {
    text-align: center;
    margin-top: 2rem;
}

.card-text {
    line-height: 27px;
}

/* Credit: learn from this tutorial how to add hover overlay with text: https://www.youtube.com/watch?v=g5ewPg9kZxc&t=941s&ab_channel=System22I.T.Solutions */

/* Card Overlay */

.ovl {
    opacity: 0;
    transition: 1s;
}

.ovl:hover {
    opacity: 1;
    background: rgb(231,225,211,0.6);
}

/* About section */

#photo-container {
    text-align: center;
    margin-top: 3rem;
}

.circle-title {
    color: #5b5b5b;
    position: sticky;
    font-size: 32px;
    top: 20rem;
}

/*Fix: Fixed bug where the image was squashed on mobile view, by removing the display flex property.*/

#my-photo {
    width: 60%;
    border-radius: 50%;
    border: 6px dotted #F2f2f2;
}

#first-image {
    margin-top: 18px;
    float: right;
}

.circular-portrait {
    border-radius: 50%;
    border: 3px dotted #f2f2f2;
    margin: 55px 0px 20px;
}

.btn-bottom {
    display: flex;
    justify-content: center;
    bottom: 1rem;
}

/* Modal */

.modal-body {
    padding: 16px 20px;
}

.modal-content {
    background-color: #E7E1D3;
}

label {
    display: block;
    font-size: 20px;
}

.contact-input {
    border: 1px solid #E7E1D3;
    width: 100%;
    margin-bottom: 16px;
    background-color: #f2f2f2;
    color: #5b5b5b;
    font-size: 19px;
}

/* buttons */

#btn-bookme {
    width: 8rem;
    margin-right: 30px;
    border: 3px solid #E7E1D3;
    border-radius: 30px;
    padding: 5px;
}

#booknow {
    width: 8rem;
    border: 3px solid #f2f2f2;
    border-radius: 30px;
    padding: 5px;
}

#bookme {
    width: 11rem;
    margin: 26px 0;
    border: 3px solid #f2f2f2;
    border-radius: 35px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #5b5b5b;
}

#btn-send {
    width: 30%;
    text-align: center;
    margin: 2px 2px;
    border: 3px solid #f2f2f2;
    border-radius: 25px;
    padding: 5px;
    font-size: 20px;
    color: #5b5b5b;
}

.submit-button {
    width: 40%;
    background-color: #FDEADD;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: #5b5b5b;
    font-weight: 700;
    letter-spacing: 2px;
}

/* Hovers */

/* Use this <a> class name on nav links to indicate which page is active */

.highlight {
    text-decoration: underline;
}

.navbar-dark .navbar-brand:hover {
    color: #FDEADD;
}
.btn:hover {
    color: #5b5b5b;
    background-color: #FDEADD;
}

.nav-link:hover {
    background-color: #FDEADD;
    border: 3px solid #E7E1D3;
}

.social-links a:hover {
    color: #FDEADD;
}

#error-button:hover {
    color: #FDEADD;
    background-color: #F2f2f2;
}

/* Added color style to ensure all <a> tags were inline with accessibility standards */

a:hover {
    color: #FDEADD;
    text-decoration: none;
}

/* Contact/form */

.map {
    border: 1px dashed #5b5b5b;
}

.contact-info {
    display: block;
}

/* Added color style to ensure all <a> tags were inline with accessibility standards */

#contact-location a {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

.form-input{
    background-color: #F2f2f2;
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 40px;
}

#message {
    height: 120px;
}

/* Error 404 page */

#error-button {
    width: 80%;
    padding: 15px;
    margin-top: 50px;
    background-color: #FDEADD;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    color: #5b5b5b;
    font-weight: 700;
    letter-spacing: 2px;
}

.error-text {
    font-size: 50px;
    margin: 3rem;
    letter-spacing: 2px;
    font-weight: 900;
}

/* Footer */

.footer {
    background-color: #f2f2f2;
    text-align: center;
    min-height: 5rem;
}

.social-links a {
    background: #E7E1D3;
    border-radius: 50%;
    color: #5b5b5b;
    font-size: 28px;
    padding: 5px 10px;
}

/*--------------------------------- Media Queries */

@media (min-width: 320px){
    #navbar-name {
        padding-left: 20px;
        }

    .icon {
        padding-bottom: 10px;
        padding-top: 24px;
        margin-top: 35px;
    }
}    

/* Media query to ensure the modal doesn't fill up the whole page on small devices */

@media (min-width: 320px) and (max-width: 576px){
    .modal-dialog {
        max-width: 295px;
        margin: 3.75rem auto;
    }
}

@media (min-width: 320px) and (max-width: 768px){
    .circle-title {
        font-size: 18px;
        top: 13rem;
    }
}

@media (min-width: 320px) and (max-width: 1024px){
    #first-image {
        margin-top: 65px;
        float: none;
    }
} 

/* Fix: Fixed the issue when the footer doesn't stretch full width by increasing the width % */

@media (max-width: 320px) {
    #se-footer {
        width: 115%;
    }
}

@media (min-width: 576px) {
    #contact-form {
        text-align: center;
    }
}

@media (min-width: 768px) {
    #contact-form {
         text-align: inherit;
    }
}

/* Fix: I had an issue with images being too close together and overlapping on large devices, to fix it with this media query and resized images */

@media (min-width: 992px) and (max-width: 1199.98px){
    .card {width: 310px;
    }
}
