@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

body {
    background-color: #f2f2f2;
    font-family: "Montserrat", sans-serif;
    font-family: "Raleway", sans-serif;
}

/*--------------------------------- Header */

.navbar {
    background-color: #ffffff;
    text-align: left;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 999999;
    padding: 0;
    margin: 0;
}

.navbar-dark .navbar-brand {
    color: #5b5b5b;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    float: left;
    margin-left: 0;
    padding-left: 1rem;
    text-decoration: none;
    padding-top: 0.5rem;
}

#navigation li a {
    height: 100%;
    padding: 0;
    margin-right: 1rem;
    float: left;
    line-height: 5rem;
    font-size: 1rem;
    margin-left: 1.5rem;
    width: 100%;
    color: #5b5b5b;
}



/*--------------------------------- Typography */

a {
    color: #5B5B5B;
    font-size: 20px;
    justify-content: left;
}

