@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

body {
    background-color: #E7E1D3;
    color: #5b5b5b;
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 20px;
}

/*--------------------------------- Padding/margin/text */

.heading {
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-top: 9rem;
    font-size: 35px;
    color: #5b5b5b;
}

.text-property {
    width: 100%;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 20px;
}

p {
    margin-top: 48px;
    margin-bottom: 48px;
}

.project-sm {
    padding: 0 5px;
}


/*--------------------------------- Header */

.navbar {
    background-color: #f2f2f2;
    text-align: left;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 1030;
    padding: 0;
    margin: 0;
}

.navbar-dark .navbar-brand {
    color: #5b5b5b;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    line-height: 4rem;
    float: left;
    margin-left: 0;
    padding-left: 2rem;
    text-decoration: none;
    padding-top: 0.5rem;
}

#navigation li a {
    font-family: "Montserrat", sans-serif;
    padding: 8px;
    float: left;
    line-height: 30px;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    color: #5b5b5b;
}

.navbar-dark .navbar-toggler {
    color: #5b5b5b;
    padding: 1rem;
    float: right;
    margin: 0.5rem;
}

/*--------------------------------- Carousel */

.carousel-item img {
    width: 100%;
}

/*--------------------------------- Project section */

.collection-images {
    background-position: center center;
    background-size: cover;
    min-height: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 3px solid #f2f2f2;
}

#pinkhand {
    background-image: url('../images/pinkhand.jpg');
}

#green {
    background-image: url('../images/green.jpg');
}

#city {
    background-image: url('../images/city.jpg');
}

#flat {
    background-image: url('../images/flat.jpg');
}

.projects {
    width: 100%;
    background-position: revert;
    background-size: cover;
    height: 25rem;
    margin-bottom: 0.5rem;
    border: 3px solid #f2f2f2;
}

#pr1bottom {
    background-image: url('../images/pr1bottom.jpg');
}

#pr1cover {
    background-image: url('../images/pr1cover.jpg');
}

#pr2cover {
    background-image: url('../images/pr2cover.jpg');
}

#pr2bottom {
    background-image: url('../images/pr2bottom.jpg');
    background-position: center;
}

#pr3cover {
    background-image: url('../images/pr3cover.jpg');
    background-position: center;
}

#pr4cover {
    background-image: url('../images/pr4cover.jpg');
}

/*--------------------------------- Modal/buttons */

.modal-body {
    padding: 16px 20px;
}

.modal-content {
    background-color: #E7E1D3;
    text-align: left;
    width: 100%;
}

label {
    display: block;
    font-size: 20px;
}

.contact-input {
    border: 1px solid #E7E1D3;
    width: 100%;
    margin-bottom: 16px;
    background-color: #f2f2f2;
    color: #5b5b5b;
    font-size: 19px;
}


.btn {
    padding: 10px;
    margin: 0 auto;
    max-width: 85%;
    font-size: 18px;
    color: #5b5b5b;
    background-color: #FDEADD;
    border-color: #5b5b5b;
}

#btn-bookme {
    width: 30%;
    text-align: center;
    margin: 8px 0;
    border: 3px solid #E7E1D3;
    border-radius: 4px;
    font-size: 20px;
    padding: 14px 20px;
    color: #5b5b5b;
}

#btn-send {
    width: 30%;
    text-align: center;
    margin: 2px 2px;
    border: 3px solid #E7E1D3;
    border-radius: 4px;
    padding: 5px;
    font-size: 20px;
    color: #5b5b5b;
}

/*--------------------------------- Hovers */

.active {
    text-decoration: underline;
}

.navbar-dark .navbar-brand:hover {
    color: #FDEADD;
}
.btn:hover {
    color: #5b5b5b;
    background-color: #FDEADD;
    border-color: #5b5b5b;
}

.nav-link:hover {
    background-color: #FDEADD;
    border: 3px solid #E7E1D3;
}

.social-links a:hover {
    color: #FDEADD;
}

/*--------------------------------- Footer */

#footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 100%;
}

.social-links a {
    text-decoration: none;
    border: 3px solid #E7E1D3;
    border-radius: 10px;
    color: #5b5b5b;
    font-size: 30px;
    padding: 6px;
}

/*--------------------------------- Media Queries */

@media (min-width: 576px) {

        #navbar-name {
            padding-left: 20px;
        }

}